#skill p {
    padding: 0%;
    margin: 0%;
    margin-bottom: 5px;
}

#skill {
    margin-top: 30px;
}

#hellotext p {
    padding: 0%;
    font-size: 1rem;

}

#leftblock p {
    color: rgba(201, 203, 229, 0.62) !important;
}

#leftblock {
    width: 60%;
    padding: 10% 3%;
}

#rightblockMe {
    width: 40%;
    background-image: url(../image/узбек-маг\ 1.png);
    filter: brightness(50%);
    filter: contrast(1.2);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 90%;
}

.cardNewsBlock {
    margin-top: 50px;
}

#news {
    height: 600px;
    height: max-content;

}

.cardNews button {
    margin-top: 40px;
}

.nameCard {
    margin-bottom: 10px;
}

.imgCards {
    height: 200px;
}

/* Модальное окно */
.modal {
    --bs-modal-width: 400px !important;
    --bs-modal-header-border-width: none !important;
    --bs-modal-footer-border-width: none !important;
}

.modal-body input {
    padding-left: 3px;
    height: 40px;
    border: 2px solid rgba(90, 0, 164, 0.217);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}

.modal-body input::placeholder {
    color: #c9cbe5bc !important;
}

.modal-body label {
    margin-top: 10px;
}

.modal-content {
    background-color: #484774 !important;
    border: 0 !important;
}

.modal-footer button {
    margin-left: 10px;
    border: 2px solid rgba(90, 0, 164, 0.217);
}

.modal-footer button:hover {
    background-color: rgba(96, 16, 162, 0.713) !important;
    box-shadow: 0px 0px 15px 6px rgba(139, 0, 255, 0.32);
}

@media (min-width: 992px) and (max-width: 1199px) {
    #rightblockMe {
        background-size: 100%;
    }

    #helloBlock {
        height: 500px;
    }

    #leftblock {
        padding: 6% 3%;
    }

    #news {
        padding: 2% 2%;
    }
}

/* Медиазапросы для планшета body*/
@media (min-width: 768px) and (max-width: 991px) {
    #rightblockMe {
        display: none;
    }

    #leftblock {
        width: 100%;
    }

    #news {
        padding: 2% 2%;
    }

    .cardNews {
        width: 31%;
        height: 400px;
    }
}

/* Адаптивность под телефон body*/
@media (max-width: 767px) {
    #rightblockMe {
        display: none;
    }

    #leftblock {
        width: 100%;
    }

    .cardNews button {
        font-size: 0.6rem;
    }

    .cardNews button svg {
        width: 15px;
        height: 13px
    }

    #news {
        padding: 5% 3%;
    }
}