#news {
    height: max-content;
}

.cardNewsBlock {
    margin-top: 20px;
    height: 280px;
    justify-content: center;
}

.imgnews,
.blockTextNews {
    width: 50%;
}

.imgnews {
    border-radius: 5px;
    background-image: url(../image/kartinki-schastlivoj-semi-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blockTextNews {
    margin-left: 5px;
    display: flex;
    flex-direction: column;

}

.blockNewsDate {
    margin-top: 69px;
}

#sortBlock {
    display: flex;
    justify-content: end;
    height: max-content;
}

#sortSelect {
    border: 0 !important;
    background-color: rgba(255, 255, 255, 0) !important;
    border: 2px solid rgba(48, 0, 88, 0.713) !important;
    border-radius: 5px;
}
.likeDate input{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
option {
    color: rgb(66, 66, 66)!important;
}

/* Медиазапросы для ноутбук body*/
@media (min-width: 992px) and (max-width: 1199px) {
    .cardNewsBlock {
        height: 250px;
    }

    .blockNewsDate {
        margin-top: 46px
    }

}
.displayBlock{
    display: block;
}
.displayNone{
    display: none;
}
/* Медиазапросы для планшета body*/
@media (min-width: 768px) and (max-width: 991px) {
    .cardNewsBlock {
        height: 220px;
    }

    .blockNewsDate {
        margin-top: 16px
    }

}

/* Адаптивность под телефон body*/
@media (max-width: 767px) {
    .cardNewsBlock {
        height: 200px;
    }

    .blockNewsDate {
        margin-top: -5px
    }
}