#news{
    height: max-content;
}
.cardNewsBlock{
    margin-top: 10px;
    justify-content:center;
}
.imgnews, .blockTextNews{
    width: 50%;
}
.imgnews{
    border-radius: 5px;
    background-image: url(../IMG/kartinki-schastlivoj-semi-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blockTextNews{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    
}
.blockNewsDate{
    margin-top: 150px;
}